<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>    
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PerformanceTestGraphs.TrialDivisionAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="PerformanceTestGraphs.SieveOfErathosthenesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PerformanceTestGraphs.TrialDivision">
        <endpoint address="" behaviorConfiguration="PerformanceTestGraphs.TrialDivisionAspNetAjaxBehavior"
          binding="webHttpBinding" contract="PerformanceTestGraphs.TrialDivision" />
      </service>
      <service name="PerformanceTestGraphs.SieveOfErathosthenes">
        <endpoint address="" behaviorConfiguration="PerformanceTestGraphs.SieveOfErathosthenesAspNetAjaxBehavior"
          binding="webHttpBinding" contract="PerformanceTestGraphs.SieveOfErathosthenes" />
      </service>
    </services>
  </system.serviceModel>
</configuration>